<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body class="<%= bgClass %>">

<!-- <%- include("tempButton") -%> -->

  <h1 class="formHeader">currentWeather.</h1>

  <%- include("clouds") -%>

  <form class="formText" action="/" method="post">
    <input id="cityInput" type="text" name="cityName" placeholder="input city name." list="cities">
    <datalist id="cities">
      <option value="New York"></option>
      <option value="London"></option>
      <option value="Paris"></option>
      <option value="Los Angeles"></option>
      <option value="Berlin"></option>
    </datalist>
    <button type="submit" class="btn btn-outline-light" name="button">Go</button>
  </form>

  <h2 class="text-animation"> <%= cityName %> </h2>

  <div class="center">
    <img src="<%= iconURL %>" alt="">
  </div>

  <h3 class="text-animation bottomText"> <%= weatherUpdateText %> </h3>
  <hr>
  <p class ="text-animation"> <%= localCityDate %> </p>

  <script>
    input.oninput = function() {
      input.value;
    }
  </script>
</body>
</html>
